[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipykernel = "*"
numpy = "*"
pip = "*"
matplotlib = "*"
opencv-python = "*"
sklearn = "*"
scikit-image = "*"
jupyter = "*"
install = "*"
tensorflow = "*"

[requires]
python_version = "3.8"
